<ion-view title="Cambiar contraseña">
  <ion-content padding="true" class="has-header">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Contraseña actual</span>
        <input type="password" ng-model="vm.userData.password">
      </label>
      <label class="item item-input">
        <span class="input-label">Nueva contraseña</span>
        <input type="password" ng-model="vm.userData.newPassword">
      </label>
      <label class="item item-input">
        <span class="input-label">Confirmar contraseña</span>
        <input type="password" ng-model="vm.userData.confirmPassword">
      </label>
      <p class="item item-divider" ng-show="vm.userData.newPassword !== vm.userData.confirmPassword">Nueva contraseña no coincide con la confirmacion</p>
      <div class="spacer spacer-height"></div>
      <button ng-disabled="vm.userData.newPassword !== vm.userData.confirmPassword" class="button button-stable button-block" ng-click="vm.changePassword()">Cambiar contraseña</button>
    </div>
  </ion-content>
</ion-modal-view>
