<ion-view title="Login" hide-nav-bar="true" id="login">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div class="spacer spacer-height"></div>
    <div>
      <img class="stein-logo" src="img/LogoSteinCorp.png">
    </div>
    <div class="spacer spacer-height"></div>
    <form id="login-form" class="list ">
      <ion-list id="login-list">
        <label class="item item-input " id="country">
          <span class="input-label">País</span>
          <input ng-model="vm.userCredentials.country" type="text" placeholder="">
        </label>
        <label class="item item-input " id="username">
          <span class="input-label">Nombre</span>
          <input ng-model="vm.userCredentials.username" type="text" placeholder="">
        </label>
        <label class="item item-input " id="password">
          <span class="input-label">Contraseña</span>
          <input ng-model="vm.userCredentials.password" type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer spacer-height"></div>
      <a ng-click="vm.login()" id="login-button" class="button button-stable  button-block">Iniciar sesión</a>
    </form>
  </ion-content>
</ion-view>
